@import "compass";
@import "select2";

#icon-edit.icon32-posts-usc_cb_snippet {
  background: url('../images/cblocks-icon-32.png') no-repeat 0 0;
}

.time_fields td.input {
  text-align: right;
}

.time_fields input {
  width: 100%;
}

.cronblocks-snippet-meta {
  .main-controls {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    &:after {
      clear:both;
      content: ' ';
      display: block;
      width: 0;
      height: 0;
    }
    @include box-shadow(white 0 1px 0 0);
  }
  .priority {
    float: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px 10px;
    @include box-shadow(white 0 1px 0 0);
    h4 {
      margin: 0 0 5px 0;
      text-align: center;
    }
    input {
      margin-left: 5px;
    }
  }
  .schedule {
    max-width: 100%;
    width: 500px;
    tr {
      > :first-child {
        width: 35%;
      }
      > :last-child {
        width: 65%;
      }
    }
    .inputs {
      .button {
        float: right;
      }
    }
  }
  .select2-container {
    max-width: 300px;
    width: 75%;
    & + .button {
      width: 20%;
      margin-left: 5%;
    }
  }
  [type=time],
  [type=number] {
    padding : 2px 20px 2px 2px;
  }
  .time-fields {
    .input {
      text-align: left;
    }
  }
}
